
@{
    ViewData["Title"] = "ProfileTest";
}
<a href="../home/Index"><i id="logout-arrow" class="fas fa-sign-out-alt fa-3x"></i></a>
<div class="profile-cards">
    <div class="profile-pic">
        <img class="profile-img" src="../images/me.png">
    </div>
    <div class="pic-overlay"></div>
    <p class="profile-name">Adam Bunch</p>
    <p class="profile-title">Developer</p>
    <div class="profile-info"></div>
    <p class="profile-description">Hi I'm Adam and I HATE long walks on the beach.</p>
    <a href="../home/SearchTest" id="match-btn">START MATCHING!</a>
</div>
<script src="../js/profile.js"></script>