
@{
    ViewData["Title"] = "SearchTest";
}

<a href="../home/ProfileTest"><i id="back-arrow" class="fas fa-arrow-circle-left fa-3x"></i></a>

<div class="profile-cards">
    <div class="profile-pic">
       <img class="profile-img" src="../images/girl.jpg">
    </div>
    <div class="pic-overlay"></div>
    <p class="profile-name">Emily Stevens</h1>
    <p class="profile-title">Nurse</p>
    <div class="profile-info"></div>
    <p class="profile-description">I love long walks on the beach and meeting new people!</p>
    <a href="" id="search-btn-yes"><i class="far fa-heart fa-2x"></i></a>
    <a href="" id="search-btn-no"><i class="far fa-times-circle fa-2x"></i></a>
</div>

<script src="../js/search.js"></script>
